<a name="CC-05"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
        <a class="btn btn-default btn-xs" ng-click="gotoAnchor('top')"><i class="glyphicon glyphicon-chevron-up"/></a>
        CC-05 : 5th Grade
        </h4>
    </div>
    <div class="panel-body">
        <p>Text Book: 流傳文化全新版華語第五冊</p>
        <p>Homework Assignments : Homework package from the CA Chinese School 學習評量卷<p>
        <p>Learning Activities : </p>
        <ul>
            <li>識字比賽</li>
            <li>媥故事遊戲</li>
            <li>比手劃腳遊戲</li>
        </ul>

        <p>Teacher's Note:<p>
        <p>
        At the beginning of a new lesson, I will ask the students to read the text without pinyin
        not only to test their ability to recognize words they have learned but also introduce the
        new words in that lesson. I emphasize using the right order of strokes in writing Chinese
        characters. Pinyin is taught along with words but neither pinyin nor bopomofo is an emphasis
        in my class because my students have passed that stage.
        </p>
        <p>
        I use all sorts of games to get my students to practice speaking the language and help
        them memorizing Chinese characters. There are quizzes following 2 or 3 lessons to get 
        them into the habit of studying.
        </p>
    </div>
</div>