<a name="CC-04"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
        <a class="btn btn-default btn-xs" ng-click="gotoAnchor('top')"><i class="glyphicon glyphicon-chevron-up"/></a>
        CC-04 : 4th Grade
        </h4>
    </div>
    <div class="panel-body">
        <h3>課程簡介</h3>
        <p>
        本學期將以全新版華語第四冊生字為主要教材. 秋季班將教授六課課文. 課本生字選自教育部所編錄的 2,800常用字庫, 
        對於學生將來讀寫的能力多少有些幫助. 至於課本課文, 將考慮學生程度以及學習興趣, 略做調整. 課程中將加入文化節慶, 
        與美國的文化節慶做比較對照, 希望藉此培養出學生對中文學習的興趣. 並盡量以實做經驗, 如日常會話, 觀看影片, 
        中文演說等專題, 來豐富學生學習.
        </p>
        <p>
            對於學生的學習成果評量, 秋季班將有語文比賽. 所有的準備與復習工作, 都將併入教學內容之中.
        </p>
        </p>
            本課程的目標在於強調如何教導學生將來在需要用到中文時, 能夠以手邊的資料, 或是以上網搜尋的方式,
            來完成中文的書寫與溝通的目的. 盡量避免枯躁無味的課文生字背誦, 或是文字抄寫. 期待學生將來能對中文產生濃厚的興趣. 
            在中文學校畢業後, 即使上課所學的東西已不記得, 仍然可以用課堂中學到的技巧, 來達到使用中文與他人交流的目的.
        </p>    
        <h3>教學課本</h3>
        <p>全新版華語第四冊, 課外補充教材</p>

        <h3>評分標準</h3>
        <ol>
            <li>六次測驗成績: 60% (考試時可攜帶上課筆記, 測驗內容為上課教授生字的衍生與應用)</li>
            <li>Homework: 30%</li>
            <li>上課參與度(In class performance): 10%</li>
        </ol>

    </div>
</div>
