<a name="CC-K"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
        <a class="btn btn-default btn-xs" ng-click="gotoAnchor('top')"><i class="glyphicon glyphicon-chevron-up"/></a>   
        CC-K : Kindergarten
        </h4>
    </div>
    <div class="panel-body">
        <p>
            This class is designed for kids ages 5 and above to learn and master the Zhùyīn Fúhào 
            (注音符號, phonetic symbols) and word pronunciations.
        </p>
        <p>Objectives: </p>
        <ul>
            <li>Students will be able to recognize and pronounce all phonic symbols.</li>
            <li>Students will be able to pronounce the combined phonics with the 4 tones.</li>
            <li>Students will be able to read and write words and sentences in phonic symbols.</li>
        </ul>
    </div>
</div>