<a name="CC-PK"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
        <a class="btn btn-default btn-xs" ng-click="gotoAnchor('top')"><i class="glyphicon glyphicon-chevron-up"/></a>
        Pre-k
        </h4>
    </div>
    <div class="panel-body">

        <h3>Pre-k class 學習目標(Goal)</h3>
        <ol>
            <li>
                聽,說: 學會在課程設計的12個主題(請看下方“教學內容”)中基本字彙和句型運用. 
                (Listening &amp; Speaking: Students will learn basic vocabularies and sentence 
                 patterns used in the designed 12- topic course(see “Content" for details )
            </li>
            <li>
                閱讀和認字: 學會生活華語課本K2所涵蓋的內容。
                Reading &amp; word recognition : Cover the content of Living Mandarin vol. k 2).
            </li>
            <li>
                除了語言的學習，在教材中也強調品德人文教育，讓小朋友能德智並重。
                (In addition to language learning, character education is also the focus, so our kids will be well-rounded people.)

            </li>
        </ol>

        <h3>教學內容(Content)</h3>
        12個主題 (12 topics)<br>
        <br>生理健康(physical health)
        主題1(topic1):我的身體(my body) <br>      
        主題2(topic2):食物( food)<br><br>
        <br>心理健康(mental health)<br>
        主題3(topic3):情緒(emotions) <br>
        主題4(topic4):分享和關懷(sharing &amp; caring)<br>
        <br>社會生活(social interaction)<br>
        主題5(topic5): 家人 (family members) <br>
        主題6(topic6): 朋友 (friends) <br>
        <br>自然環境(natural environment )<br>
        主題7(topic7): 天氣和季節 (weather and seasons)<br>
        主題8(topic8): 動物 (animals)<br>
        <br>物體描述 ( object description)<br>
        主題9(topic9):顏色(colors) <br>
        主題10 (topic 10)：形狀 (shapes) <br>
        主題11 (topic 11): 比較 (comparisons) <br>
        主題12(topic12):聲音(sound).<br>

        <h4>
        <a href="http://school.huayuworld.org/moodle03/course/view.php?id=1559" target="_blank">class content link</a>
        </4>
    </div>
</div>
