<a name="CFL-101A"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
        <a class="btn btn-default btn-xs" ng-click="gotoAnchor('top')"><i class="glyphicon glyphicon-chevron-up"/></a>
        CFL-101A : Chinese as a Foreign Language
        </h4>
    </div>
    <div class="panel-body">
        <ul>
            <li>Introduce and review Chinese pin-yin and frequently used phrases.</li>
            <li>Learn and follow classroom instructions given in Chinese.</li>
            <li>Learn daily life conversation in Chinese</li>
            <li>Learn to express personal information and greetings in Chinese , respond to Y/N questions.</li>
            <li>Develop children's verbal ability through reciting rhymes/songs with body movements, "Show and Tell" etc.</li>
            <li>Introduce character construction and radicals and develop ability to write basic strokes and simple characters</li>
        </ul>
    </div>
</div>

