<div ng-controller="AnchorScrollController">
    <div ng-include src="'angular/courses/menu.html'"></div>
    <h2>中文課程 Chinese</h2>
    <ul>
        <li><a href="#/courses/chinese#CC-PK">Pre-Kindergarten</a></li>
        <li><a href="#/courses/chinese#CC-K">Kindergarten</a></li>
        <li><a href="#/courses/chinese#CFL-101A">Chinese as a Foreign Language</a></li>
        <li><a href="#/courses/chinese#CC-04">4Th Grade</a></li>
        <li><a href="#/courses/chinese#CC-05">5Th Grade</a></li>
    </ul>

    <div ng-include src="'angular/courses/CC-PK.html'"></div>
    <div ng-include src="'angular/courses/CC-K.html'"></div>
    <div ng-include src="'angular/courses/CFL-101A.html'"></div>
    <div ng-include src="'angular/courses/CC-04.html'"></div>
    <div ng-include src="'angular/courses/CC-05.html'"></div>
</div>
