<div ng-include src="'angular/courses/menu.html'"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
        教室分配表 Classroom Assignment
        </h4>
    </div>
    <div class="panel-body">
        <img src="img/classroom_assignment.jpg" alt="Classroom Assignment">
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
        教室配置圖 Classroom Map
        </h4>
    </div>
    <div class="panel-body">
        <img src="img/classroom_map.jpg" alt="Classroom Map">
    </div>
</div>




