<div ng-include src="'angular/registration/menu.html'"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
        註冊 Registration
        </h4>
    </div>
    <div class="panel-body">
        <ul>
            <li>
                <a href="./docs/CCA_RegistrationForm_2015-2016-2nd.pdf" target="_blank">Chinese Course Registration Form</a>
            </li>
            <li>
                <a href="./docs/CCA_EC_RegistrationForm_2015-2016-2nd.pdf" target="_blank">Extracurricular Registration Form</a>
            </li>
        </ul>
    </div>
</div>

