<div class="panel panel-default">
    <div class="panel-heading">
    <h4>與我們聯繫 Contact Us</h4>
    </div>
    <div class="panel-body">
        <ul>
            <li>地址 Address: 
                <a target="_blank" href="https://www.google.com/maps/place/2335+W+Case+Rd,+Columbus,+OH+43235/@40.0710792,-83.0800903,17z/data=!3m1!4b1!4m2!3m1!1s0x88389282b69146f9:0x7be66429f0bf0e37">
                2335 W Case Rd, Columbus, OH 43235
                </a>
            </li>
            <li>校長電子郵件 Principal's Email: &nbsp;&nbsp;<a href="mailto:principal@cmhcca.org" target="_top">principal@cmhcca.org</a>
            </li>
        </ul>    
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Directions to CCA</h4>
    </div>
    <div class="panel-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3053.19423936588!2d-83.0800903!3d40.0710792!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88389282b69146f9%3A0x7be66429f0bf0e37!2s2335+W+Case+Rd%2C+Columbus%2C+OH+43235!5e0!3m2!1sen!2sus!4v1416793110861" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>


