<div ng-include src="'angular/home/menu.html'"></div>

<div class="panel panel-default">
    <div class="panel-heading">
    <h4>哥城中文學校 - Columbus Chinese Academy</h4>
    </div>
    <div class="panel-body">
    哥城中文學校 - Columbus Chinese Academy is a non-profit Chinese language and culture school located at Columbus Ohio.
    This Chinese School offers Chinese classes to pre-s to 12th grade, Chinese Adult Conversation, and several CFL 
    (Chinese as Foreign Language) classes.
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="img/2016newyearAD.jpg" width="100%">
    </div>
    <div class="col-md-6">
        <div style="height:600px;padding-top:25px;">
            <carousel interval="5000" disable-ng-animate>
                <slide><img ng-src="img/slides/slide01.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide02.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide03.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide04.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide05.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide06.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide07.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide08.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide09.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide10.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide11.jpg" style="margin:auto;"></slide>
                <slide><img ng-src="img/slides/slide12.jpg" style="margin:auto;"></slide>
            </carousel>
        </div>
    </div>
</div>