<div ng-include src="'angular/activities/menu.html'"></div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>重要活動 Events</h4>
    </div>
    <div class="panel-body">
        <ul>
            <li>2015 文化夏令營 Culture Summer Camp</li>
            <li>新年園遊會 Chinese New Year Party</li>
        </ul>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>2015 文化夏令營 Culture Summer Camp</h4>
    </div>
    <div class="panel-body">
        <ul>
            <li><a target="_blank" href="docs/2015_SummerCampFlyer.pdf">Download Flyer</a></li>
            <li><a target="_blank" href="docs/2015_SummerCampRegForm.pdf">Download Registration Form</a></li>
        </ul>
        <img width="996px" src="img/2015_summer_camp_flyer.png" alt="2015 Summer Camp Flyer">
    </div>    
</div>



